{% extends 'partials/options-row.twig' %}

{% block label %}{{ header }}{% endblock %}

{% block custom %}
    {% if not settings %}
        <label class="fontsampler-radio">
            <input type="radio" name="{{ label }}_use_default" value="0"
                   {% if use_default %} checked="checked" {% endif %}
        </label>
    {% endif %}
    {{ include ('partials/slider.twig', {
        label: slider_label,
        name: slider_name,
        value: slider_default
    }) }}
{% endblock %}

{% block default %}
    {% if not settings %}
        <label class="fontsampler-radio">
            <input type="radio" name="{{ label }}_use_default" value="1"
                    {% if not use_default %} checked="checked" {% endif %}>
            <span>Use Default: {{ slider_default }}</span>
        </label>
    {% endif %}
{% endblock %}