{% extends 'partials/options-row.twig' %}

{% block label %}Label{% endblock %}

{% block custom %}
    {% if not settings %}
        <label class="fontsampler-radio">
            <input type="radio" name="{{ label }}_use_default" value="0"
            {% if use_default %} checked="checked" {% endif %}>
        </label>
    {% endif %}
    <label>
        <span class="settings-description">{{ description }}</span>
        <input type="text" name="{{ name }}_label" class="fontsampler-admin-slider-label"
               value="{{ use_default ? default : value }}"/>
    </label>
{% endblock %}

{% block default %}
    {% if not settings %}
        <label class="fontsampler-radio">
            <input type="radio" name="{{ label }}_use_default" value="1"
                {% if not use_default %} checked="checked" {% endif %}>
            <span>Use default: {{ default }}</span>
        </label>
    {% endif %}
{% endblock %}