{% extends 'partials/options-row.twig' %}

{% block label %}{{ header }}{% endblock %}

{% block custom %}
    <label>
        <input type="radio" name="{{ name }}_type" value="label"
            {% if type == 'label' and label is not empty %} checked="checked" {% endif %}>
        <span class="settings-description">Use text label for "{{ name }}" link:</span><br>
        <input type="text" name="{{ name }}_label" value="{{ label }}" >
    </label>
    <br>
    <label class="fontsampler-setting-image">
        <input type="radio" name="{{ name }}_type" value="image"
            {% if type == 'image' and image is not empty %} checked="checked" {% endif %}
        >
        <span class="settings-description">Use image for the "Buy" link:</span><br>
        {{ include ('partials/media-upload.twig', {
            'image_id' : image,
            'image_name' : name ~ '_image'
        }) }}
        <br>
        <small>Recommended size about 200 x 60 pixels</small>
    </label>
{% endblock %}

{% block default %}
    {% if not settings %}
        {% if default_label %}
            <label>
                <input type="radio" name="{{ name }}_type" value="label_default"
                    {% if type == 'label' and label is empty %} checked="checked" {% endif %}>
                <span class="settings-description">Use default label for "{{ name }}" link:</span><br>
                <span class="fontsampler-default-value">{{ default_label }}</span>
                <input type="hidden" name="{{ name }}_label_default" class="fontsampler-admin-slider-label"
                       value="{{ default_label }}" >
            </label>
        {% else %}
            <label class="fontsampler-label-disabled">
                <input type="radio" disabled="disabled">
                <span class="settings-description">No default label available from settings</span>
            </label>
        {% endif %}
        <br>
        {% if default_image %}
            <label class="fontsampler-setting-image">
                <input type="radio" name="{{ name }}_type" value="image_default"
                    {% if type == 'image' and image is empty %} checked="checked" {% endif %}>
                <span class="settings-description">Use default image for the "{{ name }}" link:</span><br>
                <span class="custom-image-container">
                    <img src="{{ wp_get_attachment_image_src( default_image ) }}">
                </span>
                <br>
                <small>Recommended size about 200 x 60 pixels</small>
            </label>
        {% else %}
            <label class="fontsampler-setting-image fontsampler-label-disabled">
                <input type="radio" disabled="disabled">
                <span class="settings-description">No default image available from settings</span>
            </label>
        {% endif %}
    {% endif %}
{% endblock %}