{% for label, f in features %}
    <div>
        <label>
            <input type="checkbox" name="{{ label }}"
                   data-default="{{ defaults[label] }}"
                   data-set="{{ set[label] }}"
                   value="1"
                   class="fontsampler-checkbox-ui-block"
                    {% if set[label] == 1 %} checked="checked" {% endif %}>
            <span>{{ f.label }}</span>
        </label>
        {% include 'partials/button-details.twig' %}
        <div class="fontsampler-options-features-details {% if not set.use_defaults and set[label] is empty and not settings %} fontsampler-options-unchecked {% endif %}">
            {{ include('partials/options-features-label.twig', {
                use_default: set[f.name ~ '_label'] is empty,
                label: label,
                name: f.name,
                description: f.slider_label,
                default: (defaults[f.name ~ '_label']),
                value: set[label ~ '_label'],
                set_uses_defaults: set.use_defaults,
                label_installation_default: f.label_installation_default
            }) }}

            {{ include('partials/options-features-slider.twig', {
                use_default: set[f.name ~ '_min'] is empty,
                header: 'Minimum',
                label: (label ~ '_min'),
                initial: set[f.name ~ '_min'],
                slider_label: f.slider_min_label,
                slider_name: (f.name ~ '_min'),
                slider_default: (defaults[f.name ~ '_min']),
                slider_min: slider_ranges[f.name][0],
                slider_max: slider_ranges[f.name][1],
                slider_group: f.name,
                slider_type: 'min',
                set_uses_defaults: set.use_defaults
            }) }}

            {{ include('partials/options-features-slider.twig', {
                use_default: set[f.name ~ '_initial'] is empty,
                header: 'Initial',
                label: (label ~ '_initial'),
                initial: set[f.name ~ '_initial'],
                slider_label: f.slider_initial_label,
                slider_name: (f.name ~ '_initial'),
                slider_default: (defaults[f.name ~ '_initial']),
                slider_min: slider_ranges[f.name][0],
                slider_max: slider_ranges[f.name][1],
                slider_group: f.name,
                slider_type: 'initial',
                set_uses_defaults: set.use_defaults
            }) }}

            {{ include('partials/options-features-slider.twig', {
                use_default: set[f.name ~ '_max'] is empty,
                header: 'Maximum',
                label: (label ~ '_max'),
                initial: set[f.name ~ '_max'],
                slider_label: f.slider_max_label,
                slider_name: (f.name ~ '_max'),
                slider_default: (defaults[f.name ~ '_max']),
                slider_min: slider_ranges[f.name][0],
                slider_max: slider_ranges[f.name][1],
                slider_group: f.name,
                slider_type: 'max',
                set_uses_defaults: set.use_defaults
            }) }}
        </div>
    </div>
{% endfor %}

{% for label, description in additional_features %}
    <div>
        <label>
            <input type="checkbox" name="{{ label }}"
                   data-default="{{ defaults[label] }}"
                   data-set="{{ set[label] }}"
                   value="1"
                   class="fontsampler-checkbox-ui-block"
                    {% if set[label] == 1 %} checked="checked" {% endif %}>
            <span>{{ description }}</span>
        </label>

        {% if label == 'locl' %}
            {% include 'partials/button-details.twig' %}
            <div class="fontsampler-options-features-details">
                {% include 'partials/options-features-locl.twig' %}
                {% include 'partials/options-features-locl-default.twig' %}
            </div>
        {% endif %}

        {% if label == 'sampletexts' %}
            {% include 'partials/button-details.twig' %}
            <div class="fontsampler-options-features-details">
                {% include 'partials/options-features-sampletexts.twig' %}
                {% include 'partials/options-features-sampletexts-default.twig' %}
            </div>
        {% endif %}

        {% if label == 'buy' %}
            {% include 'partials/button-details.twig' %}
            <div class="fontsampler-options-features-details">
                <div class="fontsampler-options-row">
                    <strong>Buy link</strong>
                    <div>
                        <label>
                            <span>Url for the buy link</span>
                            <input type="text" name="buy_url" value="{{ set.buy_url }}">
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="buy_target" value="_blank"
                                {% if set.buy_target is empty or set.buy_target == '_blank' %} checked="checked" {% endif %}>
                            <span>Open link in new window</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="buy_target" value="_self"
                                {% if set.buy_target == '_self' %} checked="checked" {% endif %}>
                            <span>Open link in same window</span>
                        </label>
                    </div>
                </div>
                {{ include ('partials/options-features-link.twig', {
                    'name': 'buy',
                    'header': 'Buy link UI',
                    'label': set.buy_label,
                    'image': set.buy_image,
                    'type': set.buy_type is empty ? defaults.buy_type : set.buy_type,
                    'default_label': defaults.buy_label,
                    'default_image': defaults.buy_image,
                    'set_uses_defaults': set.use_defaults,
                }) }}
            </div>
        {% endif %}

        {% if label == 'specimen' %}
            {% include 'partials/button-details.twig' %}
            <div class="fontsampler-options-features-details">
                <div class="fontsampler-options-row">
                    <strong>Specimen link</strong>
                    <div>
                        <label>
                            <span>Url for the specimen link</span>
                            <input type="text" name="specimen_url" value="{{ set.specimen_url }}">
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="specimen_target" value="_blank"
                                    {% if set.specimen_target is empty or set.specimen_target == '_blank' %} checked="checked" {% endif %}>
                            <span>Open link in new window</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="specimen_target" value="_self"
                                    {% if set.specimen_target == '_self' %} checked="checked" {% endif %}>
                            <span>Open link in same window</span>
                        </label>
                    </div>
                </div>
                {{ include ('partials/options-features-link.twig', {
                    'name': 'specimen',
                    'header': 'Specimen link UI',
                    'label': set.specimen_label,
                    'image': set.specimen_image,
                    'type': set.specimen_type is empty ? defaults.specimen_type : set.specimen_type,
                    'default_label': defaults.specimen_label,
                    'default_image': defaults.specimen_image,
                    'set_uses_defaults': set.use_defaults,
                }) }}
            </div>
        {% endif %}
    </div>
{% endfor %}
