<label class="fontsampler-admin-slider-label">
		<span class="setting-description">{{ label }}
            <input autocomplete="off"
                   data-name="{{ name }}"
                   class="current-value"
                   value="{{ value }}"
                   type="text"
                   {#data-validation="number"#}
                   {#data-validation-allowing="range[1;256]"#}
                   >
		</span>
    <div class="fontsampler-admin-slider">
        {# Note that the min and max attributes are necessary to restrain the value #}
        <input autocomplete="off" 
               type="range" 
               data-group="{{ group }}" 
               data-type="{{ type }}" 
               name="{{ name }}" 
               value="{{ value }}" 
               min="{{ min }}" 
               max="{{ max }}" 
               {% if is_rtl == 1%} data-direction="rtl" {% endif %}>
    </div>
</label>