{% extends 'partials/options-row.twig' %}

{% block label %}{{ description }}{% endblock %}

{% block custom %}
        {% if not settings %}
            <label class="fontsampler-radio">
                <input type="radio" name="{{ name }}_use_default" value="0"
                    {% if value is not empty and set_uses_defaults == 0 %} checked="checked" {% endif %}>
                <span class="settings-description">Use custom value</span>
            </label>
        {% endif %}
        <div class="fontsampler-options-row-values">
            <input type="text" name="{{ name }}" value="{{ value }}"/>
            <small>{{ additional|raw }}</small>
        </div>
{% endblock %}

{% block default %}
    {% if not settings %}
        <label class="fontsampler-radio">
            <input type="radio" name="{{ name }}_use_default" value="1"
                    {% if value is empty or set_uses_defaults == 1  %} checked="checked" {% endif %}>
            <span class="settings-description">Use default: <span class="fontsampler-default-value">{{ default }}</span></span>
        </label>
    {% endif %}
{% endblock %}
