<label>
		<span class="setting-description">{{ label }}
            <input data-name="{{ name }}"
                   class="current-value"
                   value="{{ value }}"
                   data-validation="number"
                   data-validation-allowing="range[1;256]">
		</span>
    <div class="slider">
        <input type="range" name="{{ name }}_slider"
               value="{{ value }}"
               min="1" max="255">
    </div>
</label>