<div class="fontsampler-options-features-details-row">
    <strong>Label</strong>
    <div>
        <label class="fontsampler-radio">
            <input type="radio" name="{{ label }}_use_default" value="0"
            {% if not use_default %} checked="checked" {% endif %}>
        </label>
        <label>
            <span class="setting-description">{{ description }}</span>
            <input type="text" name="{{ name }}_label" class="fontsampler-admin-slider-label"
                   value="{{ default }}"/>
        </label>
    </div>
    <div>
        <label class="fontsampler-radio">
            <input type="radio" name="{{ label }}_use_default" value="1"
                {% if use_default %} checked="checked" {% endif %}>
            <span>Use default: {{ default }}</span>
        </label>
    </div>
</div>