{% extends 'layout.twig' %}

{% block content %}
    <h1>Notifications</h1>
    <p>Below a quick overview of issues detected.</p>

    {% if folder_permissions is not empty %}
        <h2>Folder permissions</h2>
        <p>The following folders and files need to be writable for the server:</p>
        <ul class="real-list">
            {% for folder in folder_permissions %}
                <li><code>{{ folder }}</code></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if missing_files is not empty %}
        <h2>Missing webfont files</h2>
        {{ include('fontsets-table.twig', { fonts: missing_files }) }}
    {% endif %}

    {% if missing_names is not empty %}
        <h2>Missing name for webfont set</h2>
        {{ include('fontsets-table.twig', { fonts: missing_names }) }}
    {% endif %}

    {% if missing_fonts is not empty %}
        <h2>Fontsamplers missing fonts</h2>
        {{ include('sets-table.twig', { sets: missing_fonts }) }}
    {% endif %}

    {% if missing_settings is not empty %}
        <h2>Some required default settings are empty</h2>
        <fieldset class="fontsampler-fix-default-settings">
            <p>Detected problems:</p>
            <ul class="real-list">
                {% for field in missing_settings %}
                    <li>The <code>{{ field }}</code> -database field for the default settings is empty.</li>
                {% endfor %}
            </ul>
            <form method="post" enctype="multipart/form-data" action="?page=fontsampler">
                <input type="hidden" name="action" value="fix_default_settings">
                {{ wp_nonce_field( 'fontsampler-action-fix_default_settings' )|raw }}
                {{ submit_button('Restore those values from defaults') }}
            </form>
        </fieldset>
    {% endif %}
{% endblock %}